.testimony{
    /* border: 1px solid red; */
    padding-block-start: 40px;
    padding-block-end: 80px;
}
.testimony-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background: rgba(255, 255, 255, 0.2);
    padding: 24px; 

    border: 4px outset rgba(255, 255, 255, 0.5);
    border-radius: 24px 24px 24px 24px;
    
}
.testimony-card h4{
    margin: 0;
    font: var(--body1);
    font-weight: bold;
}
.testimony-card h5{
    margin: 0;
    text-transform: uppercase;
    font: var(--caption);
    color: rgba(49, 10, 144, 0.5);
}

@media screen and (min-width: 768px) {
    .testimony-card{
        padding: 80px;
        text-align: center;
    }
    .testimony-card img{
        min-block-size: 80px;
        min-inline-size: 80px;
    }
    .testimony-card h4{
        font: var(--headline4);
    }
    .testimony-card h5{
        font: var(--headline5);
    }
}
